html, body {
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
}

video {
	transform: rotateY(180deg);
	    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
	    -moz-transform:rotateY(180deg); /* Firefox */
}


.mid-banner {
    display: table; /* to let a dynamic height be vertically centered */
    width: 90%;
    max-width: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1;
    color: #fff;
}

.call-area {
	position: relative;
	overflow-x: hidden;
}

/* Corner areas (of a relative positioned div) */
.corner {
	position: absolute;
}
.top.corner {
	top: 30px;
}
.bottom.corner {
	bottom: 30px;
}
.right.corner {
	right: 30px;
	text-align: right;
}
.left.corner {
	left: 30px;
	text-align: left;
}
/* end Corner areas */

#my-video {
  height: 100px;
  width: auto;
  background-color: #eee;
  transform: -webkit-transform: rotateY(180deg);
             transform: rotateY(180deg);
}
@media screen and (max-width: 550px) {
	#my-video {
		top: 10px;
		right: 10px;
	}
}
#their-video {
  height: 100vh;
  background-color: #dadada;

  /* horizontal align */
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%) rotateY(180deg);
          transform: translateX(-50%) rotateY(180deg);
}
.control-area {
	position: absolute;
	bottom: 0px; /* needed for some reason to align with bottom of video */
	width: 100%;
	height: 75px;
}
.control-area > div {
	position: relative;
	text-align: center;
	height: 100%;
	width: 100%;
}
.control-area .controls {
	height: 100%;
	display: inline-block;
}


#step1-error, .step2, .step3 {
  display: none;
}
.bold {
  font-weight: bold;
}

/* Misc */
.small-margin-top {
	margin-top: 15px;
}
.overlay {
	background: rgba(0,0,0,.4);
	color: #fff;
}
.small-pad {
	padding: 5px 3px;
}
.medium-pad {
	padding: 6px;
}
.large-pad {
	padding: 25px;
}
.small-text {
	font-size: 12px;
}
.medium-text {
	font-size: 16px;
}
.large-text {
	font-size: 26px;
}
.centered {
	text-align: center;
}
/*  end Misc */

/* Colors*/
.green, .button.green {
	background-color: #85FF9E;
}
.button.green, .button.green:hover, .button.green:active {
	color: #000;
}
.button.green:hover {
	background-color: #99FFAE;
}

.red, .button.red {
	background-color: #A61C3C;
}
.button.red, .button.red:hover, .button.red:active {
	color: #fff;
}
.button.red:hover {
	background-color: #A73751;
}

.transparent, .button.transparent {
	background: rgba(0,0,0,.2);
}
.button.transparent, .button.transparent:hover, .button.transparent:active {
	color: #fff;
}
.button.transparent:hover {
	background: rgba(0,0,0,.4);
}

.button.white {
	background-color: #fff;
}

.blue {
	background-color: #0C6291;
}
/* end Button colors */