
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Hotline Bling (WebRTC)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/peer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/videocall.js') }}"></script>
    <script>
        var x = 6;
    </script>
</head>

<body>

    <div class="call-area">
        <div class="step1 mid-banner">
            <div id="initial-media-message" class="blue large-pad large-text">
                Please click `allow` on the top of the screen so we can access your webcam and microphone for calls.
            </div>
            <div id="step1-error" class="red large-pad large-text">
                <div>Failed to access the webcam and microphone. Make sure to click allow when asked for permission by the browser.</div>
                <button id="step1-retry" class="button white small-margin-top">Try again</button>
            </div>
        </div>

        <!-- Their video -->
        <video id="their-video" autoplay></video>

        <!-- My video -->
        <div class="top right corner">
            <video id="my-video" muted="true" autoplay></video>
            <div class="step2 step3 overlay small-pad small-text centered">ID: <span id="my-id" class="">...</span></div>
        </div>

        <!-- Their info -->
        <div class="step3 top left corner">
            <div class="overlay medium-pad medium-text">
                <div>Now talking with:</div>
                <div><span id="their-id"></span></div>
            </div>
        </div>

        <!-- Controls (Call/end) -->
        <div class="control-area">
            <div>
                <div class="controls">
                    <div class="step2">
                        <div>
                            <input type="text" placeholder="User ID to call..." id="callto-id">
                            <button class="green button" id="make-call">Call</button>
                        </div>
                    </div>
                    <div class="step3">
                        <p><a class="red button" id="end-call">End call</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>